html {
  font-size: 11px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
}

html {
  background-color: #ffffff;
}

h1 {
  font-size: 30px;
  text-align:center;  
  color: rgb(20, 20, 20);
  margin: 10px;
  padding: 10px 0;
  color: #f8f8f8;
  text-shadow: 2px 2px 2px #fd96e4;
}

h2 {
  font-size: 20px;
  text-align: left;
  color: #29081c;
}

h3 {
  font-size: 20px;
  text-align: left;
  color: #29081c;
}

h4 {
  font-size: large;
  text-align: left;
  color: #29081c;
}


p,
li {
  font-size: 30px;
  line-height: 2;
  letter-spacing: 1px;
  color: #29081c;
}


body {
  width: 400px;
  height: 600PX;
  margin: 200px;
  background-color: #9c447b;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(243, 191, 248);
}


img {
  display:flex;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
