html {
  font-size: 11px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
}

html {
  background-color: #00539f;
}


h1 {
  font-size: 60px;
  text-align: center;
  color: red;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}


img {
  display: block;
  margin: 0 auto;
  width: 100px
}
